/*font-family: 'Nunito', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Arbutus', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Questrial', sans-serif;*/

body {
    background-color: black;
}

.container {
  display: none;
}

.background-image {
  position: fixed;
  opacity: 1;
  z-index: -100;
}

.background-image img {
    margin-top: 430px;
    opacity: 0.14;
    z-index: -100;
    width: 100%;
    transform: scale(1.1);
}

header {
    width: 100%;
    top: 0;
    background-color: black;
    ;
}

header nav {
    position: relative;
    padding: 3vh;
    color: white;
}

header nav .links {
    position: relative;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

header nav .links a {
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 2.4vw;
    ;
}


/* unvisited link */

header nav .links a:link {
    color: white;
}


/* visited link */

header nav .links a:visited {
    color: white;
}


/* mouse over link */

header nav .links a:hover {
    color: blue;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

h1, h2{
    position: relative;;
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-align: center;
}

.on-load-animate {
  margin-top: 17vh;
  display: none;
}

.bio-newsletter {
    margin-top: 4vh;
}

#email-form .row {
    margin-top: 2vh;
}

#email-form div input, button {
    font-family: 'Questrial', sans-serif;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857143;
    color: white;
    background-color: gray;
    background-image: none;
    border: none;
    text-align: center;
    opacity: 0.5;
}

#email-form div input, button:focus {
    outline-color: red;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.bio {
  margin-top: 5vh;
  padding: 30px;
  border: solid white 2px;
  /*box-shadow: 15px 15px 20px gray;*/
}

.bio p {
    font-family: 'Questrial', sans-serif;
    color: white;
    font-size: 140%;
    text-align: justify;
    padding: 2vh;
}

.bio-image, .bio-image2 {
    margin-bottom: 3vh;
    margin-top: 3vh;
    border-top: solid 2px gray;
    border-bottom: solid 2px gray;
}

.bio-image2{
  margin-top: 10vh;
}

blockquote {
  margin-left: 8vw;
  color: #7575cd;
  background-color: #0b0b0b;
  font-size: 200%;
}

.video-box {
  margin-top: 2vh;
  border: dashed 2px white;
}

.dates, .player {
  margin-top: 3vh;
  background-color: gray;
  padding: 2vmax;
}

.flex {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */}

.flex img {
  align-self: center;
}
